<div class="table">
    <img src="https://i.pinimg.com/originals/28/d8/04/28d8049b755042abfe15e0f2323c9f36.jpg" alt="">
    <table>
        <tr>
            <td>
                <form method="POST" action="/">
                    <a id="11"><input type="button" value="Ячейка [1:1]" /></a>
                </form>
            </td>
            <td>
                <form method="POST" action="/">
                    <a id="12"><input type="button" value="Ячейка [1:2]" /></a>
                </form>
            </td>
            <td>
                <form method="POST" action="/">
                    <a id="13"><input type="button" value="Ячейка [1:3]" /></a>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form method="POST" action="/">
                    <a id="21"><input type="button" value="Ячейка [2:1]" /></a>
                </form>
            </td>
            <td>
                <form method="POST" action="/">
                    <a id="22"><input type="button" value="Ячейка [2:2]" /></a>
                </form>
            </td>
            <td>
                <form method="POST" action="/">
                    <a id="23"><input type="button" value="Ячейка [2:3]" /></a>
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form method="POST" action="/">
                    <a id="31"><input type="button" value="Ячейка [3:1]" /></a>
                </form>
            </td>
            <td>
                <form method="POST" action="/">
                    <a id="32"><input type="button" value="Ячейка [3:2]" /></a>
                </form>
            </td>
            <td>
                <form method="POST" action="/">
                    <a id="33"><input type="button" value="Ячейка [3:3]" /></a>
                </form>
            </td>
        </tr>
    </table>
</div>
<style>
    .table {
        position: relative;
        display: inline-block;
    }

    table {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 8px;
        background-size: 100% auto
    }

    tr, td {
        border-radius: 8px;
        padding: 0 !important;
        border: 0 !important;
        border-spacing: 0 !important;

    }

    tr, td:hover {
        background-color: rgba(66, 170, 255, 0.1);

    }

    input {
        border: 1px solid rgba(0, 0, 0, 0.15);
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        height: 100%;
    }
</style>